{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<div class="container my-5">
  <div class="p-5 mb-4 bg-dark text-white rounded">
    <h1 class="display-4">Welcome, {{ session.userinfo.nickname }}!</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-4">Upload your prescription</h2>
      <form method="POST" action="/dashboard" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" type="file" name="file" id="file">
        </div><br>
        <button type="submit" class="btn btn-outline-info">Submit</button>

      </form>
      <hr>
      <a class="btn btn-outline-dark" href="http://wa.me/+14155238886?text=join%20zipper-cutting">Add bot!</a>
    </div>

    <div class="col-md-6">
      <h2 class="mb-4">Preview</h2>
      {% for reminder in reminders %}
      <div class="card mb-4">
        <img src="{{ url_for('get_image', reminder_id=reminder.id) }}" class="card-img-top" alt="{{ reminder.filename }}">
        <div class="card-body">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mb-4">Information</h2>
    <p><strong>Name:</strong> {{ session.userinfo.nickname }}</p>
    <p><strong>Email:</strong> {{ session.userinfo.name }}</p>
  </div>
</div>
{% endblock %}
