{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}



<main >
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" >
          <div class="col-md-5 p-lg-5 mx-auto my-5"style="color:#F9F3EE">
            
            <h1 class="display-4 fw-normal" style="color:#1DB9C3"><b><big>MedEase</big></b></h1><br />
            <p class="text-muted mt-2 fs-5">Introducing MedEase, the ultimate solution for the elderly community to effortlessly manage their medications. </p><br />
            <a class="small text-muted" href="/contact">Facing any problems? Contact us </a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
      
        
        
      </main>
    
      <section id="about3">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#1DB9C3" >Medication Adeherence</h1>
                    <p class="text-muted mt-2 fs-5">Remembering to take medications at the prescribed times and in the correct doses can be challenging, especially for older adults who may have cognitive impairments or memory issues. Missing doses or taking incorrect amounts can reduce the effectiveness of treatment or can even be fatal.                    </p>
               </div>
               <div class="col-11 col-md-5 my-3">
                <img src="static/medicines.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>


      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="static/manage.svg/" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#1DB9C3">Manage Multiple Medications Easily </h1>
                    <p class="text-muted mt-2 fs-5">With MedEase, staying organized and on top of your medication regimen has never been easier. Our chatbot is designed to simplify your life by providing convenient medication reminders and personalized support, all through the familiar and accessible platform of WhatsApp. 
                    </p>
               </div>
          </div>
      </div>
      </section>
    


{% endblock %}